:root {
  --clr-white: #fff;
  --clr-black: #242424;
  --clr-grey: #f3f3f3;
  --clr-dark-grey: #686868;
  --clr-red: #ff4e4e;
  --clr-transparent: transparent;
  --clr-twitter: #1da1f2;
  --clr-purple: rgba(139, 71, 255, 0.3);

  --ff-primary: "Inter", sans-serif;
  --ff-secondary: "Gelasio", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

svg,
img {
  display: block;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-primary);
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--clr-black);
}

button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 2px 2px var(--clr-purple);
}

button,
input,
textarea,
a {
  outline: none;
  font-family: var(--ff-primary);
}

.btnDark {
  border: none;
  text-decoration: none;
  border-radius: 100vw;
  background-color: var(--clr-black);
  color: var(--clr-white);
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
  font-family: var(--ff-primary);
}

.btnDark:hover {
  opacity: 0.8;
}

.btnLight {
  border: none;
  text-decoration: none;
  border-radius: 100vw;
  background-color: var(--clr-grey);
  color: var(--clr-black);
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
  font-family: var(--ff-primary);
}

.btnLight:hover {
  opacity: 0.8;
}

.btnSmall {
  padding: 1rem 2rem;
  font-size: 1.4rem;
}

.btnLarge {
  padding: 1.2rem 2.4rem;
  font-size: 1.6rem;
}

.link:link,
.link:visited {
  font-size: 1.4rem;
  padding: 1rem 2rem;
  text-decoration: none;
  color: var(--clr-dark-grey);
  transition: all 0.2s;
}

.link:hover,
.link:active {
  background-color: var(--clr-grey);
  color: var(--clr-black);
}

.hScreen {
  min-height: calc(100vh - 8rem);
}
