.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5vw;
  height: 8rem;
  background-color: var(--clr-white);
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid var(--clr-grey);
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.logo {
  width: 3.6rem;
  height: 3.6rem;
  margin-right: 1rem;
}

.searchContainer {
  position: relative;
  display: block;
}

.searchContainer.hide {
  display: none;
}

.search {
  border: none;
  border-radius: 100vw;
  padding: 1.5rem 3rem 1.5rem 4rem;
  font-size: 1.4rem;
  background-color: var(--clr-grey);
  color: var(--clr-black);
  outline: none;
  transition: all 0.2s;
}

.search::placeholder {
  color: var(--clr-dark-grey);
}

.searchIcon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  position: absolute;
  left: 1.4rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--clr-dark-grey);
}

.btnContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mobileSearch {
  display: none;
  background-color: var(--clr-grey);
  color: var(--clr-dark-grey);
  border: none;
  border-radius: 100vw;
  padding: 1rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .searchContainer {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--clr-white);
    width: 100%;
    padding: 1rem 5vw;
    margin-top: 0.5rem;
    border-bottom: 1px solid var(--clr-grey);
  }

  .search {
    width: 100%;
    padding: 1.5rem 5rem 1.5rem 1.5rem;
  }

  .searchIcon {
    right: 6%;
    left: auto;
  }

  .mobileSearch {
    display: block;
  }

  .link:link,
  .link:visited {
    display: none;
  }

  .btnLight {
    display: none;
  }
}

/* on md add show class on searchContainer */
@media (min-width: 768px) {
  .searchContainer.hide {
    display: block;
  }
}
